.title
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
    font-size: xx-large;
    text-align:center;
    background-color:rgba(16, 139, 192, 0.59);
}



.desc_title
{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight:900;
    font-size: large;
    margin-top: 30px;
    text-decoration-line: underline;
}



.line
{
    border-width: 5px;
    border-color: black;
}



.description
{
    text-align: center;
    border-style:inset;
    background-color:rgba(112, 190, 238, 0.445);
    border-radius: 20px;
    border-width: 4px;
    margin-top: 30px;
    margin-bottom: 50px;
}



.line2
{
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.312);
    border-radius: 2px;
    border-style: dashed;
    margin-bottom:40px;
}



.choose_one
{
    margin-top:50px;
    text-align:center;
    text-decoration-line: underline;
    font-weight: 500;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:40px;
}

